<div class="wrapper">
    <div class="left"></div>
    <div class="main">
        <p><i>You need to enter 4 prompts, so that we can get your typing patterns. Don't worry about typing everything 100% correct.</i></p>
        <div>
            <label for="textarea">Prompt {{promptIndex + 1}} :</label>
            <p><b>{{prompts[promptIndex]}}</b></p>
            <textarea (focus)="startRecording()" (focusout)="pauseRecording()" [(ngModel)]="userInput" id="textarea"></textarea><br>
            <button (click)="verify()" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="right"></div>
</div>
