<div class="card contentColor">
    <!-- <a [href]="https://jodios.com" target="_empty"><img class="card-img-top" [src]="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.clipartmax.com%2Fpng%2Fmiddle%2F150-1507682_transparent-background-twitter-logo.png&f=1&nofb=1"></a> -->
    <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.clipartmax.com%2Fpng%2Fmiddle%2F150-1507682_transparent-background-twitter-logo.png&f=1&nofb=1" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">Test tweet</h2>
        <p class="card-text">This is only a sample tweet.</p>
        <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer"><cite title="Source Title">@JoelAndApophis</cite></footer>
            <img src="https://pbs.twimg.com/profile_images/1091317774775922691/e_doJx-U_400x400.jpg" alt="" class="pfpic">
        </blockquote>
    </div>
</div>
