.card:hover{
    transform: translateY(-4px);
    transition: 100ms;
}

.pfpic{
    border-radius: 100%;
    max-width: 10%;
    max-height: 10%;
    /* clear: both;
    float: left; */
}

.card{
    color:rgba(255, 255, 255, 0.776);
    width: 98%; 
    margin:10px;
    background-color: rgb(21, 33, 44);
}

.card-img-top{
    width:100%;
    max-height: 500px;
    object-fit:contain;
}